@keyframes octagonSlug {
  from {
    transform: translate3d(0%, 100%, 0) scale(1);
  }

  to {
    transform: translate3d(-240%, 0%, 0) scale(0.25);
  }
}

@keyframes octagonHome {
  from {
    transform: translate3d(-230%, -100%, 0) scale(0.25);
  }

  to {
    transform: translate3d(0%, 0%, 0) scale(1);
  }
}

@keyframes octagonLearnFromHome {
  from {
    transform: translate3d(0%, 100%, 0) scale(1);
  }

  to {
    transform: translate3d(0%, 0%, 0) scale(0.25);
  }
}

@keyframes octagonLearnFromSlug {
  from {
    transform: translateX(-250%) scale(0.25);
  }

  to {
    transform: translateX(0) scale(0.25);
  }
}

@keyframes octagonLearnToHome {
  from {
    transform: translate3d(0%, 0%, 0) scale(0.25);
  }

  to {
    transform: translate3d(0%, 100%, 0) scale(1);
  }
}

@keyframes scene-transition {
  to {
    --angle: 370deg;
  }
}
