.octo-text-sm {
  top: 40px;
}

.bordered {
  border-color: rgb(0, 0, 0, 1);
}

.octagonHome {
  transition: all 1s ease-out;
  animation: octagonHome 0.4s forwards;
}

.octagonSlug {
  z-index: 101;
  animation: octagonSlug 0.4s forwards;
}

.octagonFromHome {
  z-index: 101;
  animation: octagonLearnFromHome 0.4s forwards;
}

.octagonFromSlug {
  z-index: 101;
  animation: octagonLearnFromSlug 0.4s forwards;
}

.max-w-nav {
  max-width: 90%;
}

.scenes {
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: -10deg;
}

.scene {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  @apply hidden;
  mask-image: conic-gradient(
      #fff 0deg,
      #fff calc(var(--angle) - 10deg),
      transparent calc(var(--angle) + 10deg),
      transparent 360deg
    ),
    conic-gradient(transparent 340deg, #fff 360deg);
}

.scene-animate {
  display: block;
  animation: scene-transition 2s linear forwards;
}
