@media screen and (min-width: 1400px) and (max-width: 1440px){
    .triangleTopLeft {
        right: -180px;
        top: 40px;
        width: 150%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: 27deg;
    }
    
    .triangleBottomRight {
        bottom: 0px;
        right: 0px;
        width: 120%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: -28deg;
    }

    .imageTopRight {
        left: 130px;
        bottom: 85px;
        --transform-rotate: 0deg;
    }
    
    .imageTopLeft {
        right: 250px;
        top: 220px;
        --transform-rotate: -27deg;
    }
    
    .imageBottomRight {
        left: 130px;
        bottom: 220px;
        --transform-rotate: 28deg;
    }
    
    .imageBottomLeft {
        left: 130px;
        top: 110px;
        --transform-rotate: 0deg;
    }

    @keyframes octagonSlug {
        from {
          transform: translate3d(0%,100%,0) scale(1);
        }
      
        to {
          transform: translate3d(-255%,0%,0) scale(.25);
        }
    }
}

@media screen and (min-width: 1201px) and (max-width: 1340px){
    .triangleTopLeft {
        left: 0px;
        top: 100px;
        width: 150%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: 32.5deg;
    }
    
    .triangleBottomRight {
        bottom: 0px;
        right: 0px;
        width: 150%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: -33deg;
    }

    .imageTopRight {
        left: 150px;
        bottom: 100px;
        --transform-rotate: 0deg;
    }
    
    .imageTopLeft {
        right: 340px;
        top: 230px;
        --transform-rotate: -32deg;
    }
    
    .imageBottomRight {
        left: 170px;
        bottom: 230px;
        --transform-rotate: 33deg;
    }
    
    .imageBottomLeft {
        left: 150px;
        top: 90px;
        --transform-rotate: 0deg;
    }

    @keyframes octagonSlug {
        from {
          transform: translate3d(0%,100%,0) scale(1);
        }
      
        to {
          transform: translate3d(-210%,0%,0) scale(.25);
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1100px){
    .triangleTopLeft {
        left: 0px;
        top: 100px;
        width: 150%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: 38deg;
    }
    
    .triangleBottomRight {
        bottom: 0px;
        right: 0px;
        width: 150%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: -38deg;
    }

    .imageTopRight {
        left: 130px;
        bottom: 85px;
        --transform-rotate: 0deg;
    }
    
    .imageTopLeft {
        right: 250px;
        top: 200px;
        --transform-rotate: -38deg;
    }
    
    .imageBottomRight {
        left: 120px;
        bottom: 220px;
        --transform-rotate: 38deg;
    }
    
    .imageBottomLeft {
        left: 130px;
        top: 80px;
        --transform-rotate: 0deg;
    }

    @keyframes octagonSlug {
        from {
          transform: translate3d(0%,100%,0) scale(1);
        }
      
        to {
          transform: translate3d(-178%,0%,0) scale(.25);
        }
    }
}

@media screen and (min-width: 1366px) and (max-width: 1366px){
    .triangleTopLeft {
        left: 0px;
        top: 145px;
        width: 150%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: 25.5deg;
    }
    
    .triangleBottomRight {
        bottom: 0px;
        right: 0px;
        width: 150%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: -24.5deg;
    }

    .imageTopRight {
        left: 130px;
        bottom: 55px;
        --transform-rotate: 0deg;
    }
    
    .imageTopLeft {
        right: 440px;
        top: 150px;
        --transform-rotate: -25deg;
    }
    
    .imageBottomRight {
        left: 260px;
        bottom: 150px;
        --transform-rotate: 25deg;
    }
    
    .imageBottomLeft {
        left: 130px;
        top: 75px;
        --transform-rotate: 0deg;
    }
}

@media screen and (min-width: 1800px){
    .triangleTopLeft {
        left: 0px;
        top: 180px;
        width: 150%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: 27deg;
    }
    
    .triangleBottomRight {
        bottom: 0px;
        right: 0px;
        width: 150%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: -26.5deg;
    }

    .imageTopRight {
        left: 200px;
        bottom: 110px;
        --transform-rotate: 0deg;
    }
    
    .imageTopLeft {
        right: 580px;
        top: 250px;
        --transform-rotate: -27deg;
    }
    
    .imageBottomRight {
        left: 325px;
        bottom: 250px;
        --transform-rotate: 27deg;
    }
    
    .imageBottomLeft {
        left: 200px;
        top: 120px;
        --transform-rotate: 0deg;
    }
}

@media screen and (min-width: 1536px) and (max-width: 1536px){
    .triangleTopLeft {
        right: -180px;
        top: 40px;
        width: 150%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: 27deg;
    }
    
    .triangleBottomRight {
        bottom: 0px;
        right: 0px;
        width: 120%;
        height: 100%;
        transform-origin: top right;
        --transform-rotate: -28deg;
    }

    .imageTopRight {
        left: 130px;
        bottom: 85px;
    }
    
    .imageTopLeft {
        right: 250px;
        top: 220px;
        --transform-rotate: -27deg;
    }
    
    .imageBottomRight {
        left: 130px;
        bottom: 220px;
        --transform-rotate: 28deg;
    }
    
    .imageBottomLeft {
        left: 130px;
        top: 110px;
        --transform-rotate: 0deg;
    }

    @keyframes octagonSlug {
        from {
          transform: translate3d(0%,100%,0) scale(1);
        }
      
        to {
          transform: translate3d(-275%,0%,0) scale(.25);
        }
    }
}

@media screen and (min-width: 1800px) and (max-width: 1849px){
    @keyframes octagonSlug {
        from {
          transform: translate3d(0%,100%,0) scale(1);
        }
      
        to {
          transform: translate3d(-320%,0%,0) scale(.25);
        }
    }
}

@media screen and (min-width: 1850px) and (max-width: 1889px){
    @keyframes octagonSlug {
        from {
          transform: translate3d(0%,100%,0) scale(1);
        }
      
        to {
          transform: translate3d(-330%,0%,0) scale(.25);
        }
    }
}

@media screen and (min-width: 1890px){
    @keyframes octagonSlug {
        from {
          transform: translate3d(0%,100%,0) scale(1);
        }
      
        to {
          transform: translate3d(-340%,0%,0) scale(.25);
        }
    }
}