@media screen and (min-width: 1400px) and (max-width: 1440px) {
  @keyframes octagonSlug {
    from {
      transform: translate3d(0%, 100%, 0) scale(1);
    }

    to {
      transform: translate3d(-255%, 0%, 0) scale(0.25);
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1340px) {
  @keyframes octagonSlug {
    from {
      transform: translate3d(0%, 100%, 0) scale(1);
    }

    to {
      transform: translate3d(-210%, 0%, 0) scale(0.25);
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  @keyframes octagonSlug {
    from {
      transform: translate3d(0%, 100%, 0) scale(1);
    }

    to {
      transform: translate3d(-178%, 0%, 0) scale(0.25);
    }
  }
}

@media screen and (min-width: 1536px) and (max-width: 1536px) {
  @keyframes octagonSlug {
    from {
      transform: translate3d(0%, 100%, 0) scale(1);
    }

    to {
      transform: translate3d(-275%, 0%, 0) scale(0.25);
    }
  }
}

@media screen and (min-width: 1800px) and (max-width: 1849px) {
  @keyframes octagonSlug {
    from {
      transform: translate3d(0%, 100%, 0) scale(1);
    }

    to {
      transform: translate3d(-320%, 0%, 0) scale(0.25);
    }
  }
}

@media screen and (min-width: 1850px) and (max-width: 1889px) {
  @keyframes octagonSlug {
    from {
      transform: translate3d(0%, 100%, 0) scale(1);
    }

    to {
      transform: translate3d(-330%, 0%, 0) scale(0.25);
    }
  }
}

@media screen and (min-width: 1890px) {
  @keyframes octagonSlug {
    from {
      transform: translate3d(0%, 100%, 0) scale(1);
    }

    to {
      transform: translate3d(-340%, 0%, 0) scale(0.25);
    }
  }
}
